<html>
  <head></head>
  <body>
    <img src= <%= link %> >
    <p>
        <%= word %>
        <br>
        <%= winlose %>
        <br>
        <form>
          <%= unused %>
          <br>
          <input type='submit' name='reset' value='RESET'>
        </form>
        <br>
        <%= used %>
    </p>
  </body>
</html>
